.DS_Store
bin
obj
.vs
Logs
project.lock.json
*.userprefs
.vscode/
.vs/
.idea/

RazzleServer/*.db
# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/
node_modules/
bower_components/
.sass-cache/
# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
.idea
.vs
